<!DOCTYPE html>
<html>
    <% include head.ejs %>
    <% include header.ejs %>
  <body>
      <div class="wrapper-filters">
        <form action="http://localhost:3000" method="GET">
          <label for="min"><%= __('Precio más bajo') %></label>
          <input type="number" value="" name="pricemin">
          <label for="max"><%= __('Precio más alto') %></label>
          <input type="number" value="" name="pricemax">
          <button type="submit"><%= __('Buscar') %></button>
        </form>

        <a href="http://localhost:3000/?sort=price"><%= __('Precio (menor a mayor)') %></a>
        <a href="http://localhost:3000/?sort=-price"><%= __('Precio (mayor a menor)') %></a>
        <a href="http://localhost:3000/?forsale=true"><%= __('Solo Anuncios "Se vende') %>"</a>
        <a href="http://localhost:3000/?forsale=false"><%= __('Solo Anuncios "Se compra"') %></a>

        <form action="http://localhost:3000" method="GET">
          <label for="prodname"> <%= __('Busca por nombre') %></label>
          <input type="text" name="prodname" value="">
          <button type="submit"><%= __('Buscar') %></button>
        </form>
      </div>

    <p><b><%= __('Todas las Categorías:') %></b>  
          <% for ( let i = 0; i < tagsList.length; i++ ) { %>
          <a href=http://localhost:3000/?tag=<%= tagsList[i]%> > <%= tagsList[i]  %></a>       
          <% } %> 
    </p>

    <h2><%= __('Anuncios de "Se vende"') %></h2>
      <div class="wrapper-list">
          <% adlist.forEach ((item) => { 
              if (item.forSale === true) { %>
                <div class="element">
                  <h3><%= __(item.productName) %> </h3>
                  <img src=<%= item.image %> alt=<%= __(item.productName) %>>
                  <p><%= item.price %>€</p>
                  <p><%=__('Categorías: ') %><%= item.tags.join(' ') %></p>
                </div>
              <%}}) %>
    </div>

    <h2><%= __('Anuncios de "Se Compra"') %></h2>
      <div class="wrapper-list">
          <% adlist.forEach ((item) => { 
              if (item.forSale !== true) { %>
                <div class="element">
                  <h3><%= __(item.productName) %> </h3>
                  <img src=<%= item.image %> alt=<%= __(item.productName) %>>
                  <p><%= item.price %>€</p>
                  <p><%=__('Categorías: ') %><%= item.tags.join(' ') %></p>
                </div>
              <%}}) %>
      </div>
  </body>
</html>
