<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
  </head>
  <body>
    <h1>Listado de Anuncios de <%= title %> </h1>
      <h2>Aplique los siguientes filtros para encontrar lo que busca:</h2>
    
      <div class="wrapper-filters">

        <form action="http://localhost:3000" method="GET">
          <label for="min">Precio más bajo</label>
          <input type="number" value="" name="pricemin">
          <label for="max">Precio más alto</label>
          <input type="number" value="" name="pricemax">
          <button type="submit">Buscar</button>
        </form>

        <a href="http://localhost:3000/?sort=price">Precio (menor a mayor)</a>
        <a href="http://localhost:3000/?sort=-price">Precio (mayor a menor)</a>
        <a href="http://localhost:3000/?forsale=true">Solo Anuncios "Se vende"</a>
        <a href="http://localhost:3000/?forsale=false">Solo Anuncios "Se compra"</a>

        <form action="http://localhost:3000" method="GET">
          <label for="prodname"> Busca por nombre:</label>
          <input type="text" name="prodname" value="">
          <button type="submit">Buscar</button>
        </form>
      </div>

    <h2>Anuncios de "Se vende"</h2>
      <div class="wrapper-list">
          <% adlist.forEach ((item) => { 
              if (item.forSale === true) { %>
                <div class="element">
                  <h3><%= item.productName %> </h3>
                  <img src=<%= item.image %> alt=<%= item.productName %>>
                  <p><%= item.price %>€</p>
                  <p>Categorías: <%= item.tags.join(' ') %></p>
                </div>
              <%}}) %>
    </div>

    <h2>Anuncios de "Se Compra"</h2>
      <div class="wrapper-list">
          <% adlist.forEach ((item) => { 
              if (item.forSale !== true) { %>
                <div class="element">
                  <h3><%= item.productName %> </h3>
                  <img src=<%= item.image %> alt=<%= item.productName %>>
                  <p><%= item.price %>€</p>
                  <p>Categorías: <%= item.tags.join(' ') %></p>
                </div>
              <%}}) %>
      </div>

     <p><b>Todas las Categorías:</b>  <% for ( let i = 0; i < tagsList.length; i++ ) { %>
          <a href=http://localhost:3000/?tag=<%= tagsList[i]%> > <%= tagsList[i]  %></a>       
       <% } %> </p>

  </body>
</html>
